@import url(http://fonts.googleapis.com/css?family=Oswald|Source+sans+pro);

$gray :rgba(255, 255, 255, 0.7);
$white: #FFFFFb;
$darkgray: #464547;
$dark: #666666;
$black: #000000;
$blue: #55C2D8;
$Generalfont : 'Oswald';
$secundaryfont: 'source sans pro';